
body 
{
    background-color: rgb(170, 172, 175); /* background will be grey*/
    background-image: url("background\ image\ oceans.jpg") ;
    background-size: cover;
    background-attachment: fixed;

    margin-right: 450px;
    margin-left: 450px; 
}

a:link {color : white;}
a:visited{color : white;}
a:hover{color : white;}
a:active{color : white;}
p 
{
    color: rgb(255, 247, 247); 
    font-size: large; 
    text-align: center; 
}

h1
{
    font-size: xx-large;
    font-weight: 500;
    color: rgb(248, 242, 242);
    text-align: center;
}

h3
{
    font-size: xx-large;
    font-weight: 300;
    color:rgb(131, 165, 7);
    text-align: center;

}
h5
{
    font-size: large;
    font-weight: 200;
    color:rgb(11, 132, 55);
    text-align: center;
}

.introPara{color: rgb(255, 247, 247); font-size: large; text-align: center; font-weight: 400; background-color: black; opacity: 0.7;}

.IndexLink{color:rgb(131, 240, 236);}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }